# python
__pycache__/
*.py[cod]
*$py.class
.mypy_cache

# testing / development
coverage.xml
.coverage
.env
.envrc
.direnv
.venv

# CI/CD (Docker only)
.git
.gitignore
.dockerignore
Dockerfile
cicd/
scripts/
README*
.github
docs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# ide
.idea
.vscode
*.swp

# Built helm charts
dragonchain-k8s-*.tgz

# OS Files
.DS_Store
desktop.ini

# redis
dump.rdb
