boto3==1.9.209
redis==3.3.7
elasticsearch==6.4.0
apscheduler==3.6.1
jsonpath==0.82
Flask==1.1.1
requests==2.22.0
fastjsonschema==2.13
secp256k1==0.13.2
web3==5.0.1
kubernetes==10.0.1
docker==4.0.2
gunicorn[gevent]==19.9.0
aiohttp[speedups]==3.5.4
aioredis==1.2.0
base58==1.0.3
bit==0.5.2