boto3==1.13.20
redis==3.5.3
apscheduler==3.6.3
jsonpath==0.82
Flask==1.1.2
requests==2.23.0
fastjsonschema==2.14.4
secp256k1==0.13.2
web3==5.10.0
kubernetes==11.0.0
docker==4.2.0
gunicorn[gevent]==20.0.4
aiohttp[speedups]==3.6.2
aioredis==1.3.1
base58==2.0.0
bit==0.6.1
redisearch==0.9.0
bnb-tx==0.0.4
pycoin==0.90.20200322
mnemonic==0.19
